<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cherry.blog.mapper.UsersInfoMapper">

    <!--校验用户名是否存在-->
    <select id="getCountByUserName" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM blog_users_info WHERE user_name = #{userName}
    </select>

</mapper>